@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap");
body {
  font-family: "Plus Jakarta Sans";
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(180deg, #ffffff 0%, #f2f2f2 100%);
  box-sizing: border-box;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
}
.first {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title {
  display: inline;
  font-size: 28px;
  font-weight: 800;
  line-height: 35.28px;
  color: #13183f;
}
.get-started {
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  color: #ffffff;
  background-color: #13183f;
  border: none;
  border-radius: 28px;
  width: 140px;
  height: 48px;
}

.main-title {
  font-weight: 800;
  size: 40px;
  color: #13183f;
  line-height: 50px;
  margin-bottom: 22px;
}
.ad {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #83869a;
  text-align: left;
  margin-top: 0;
  padding-bottom: 24px;
}
.get-started-2 {
  color: #ffffff;
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  border-radius: 31.5px;
  width: 167px;
  border: 0;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 700;
}
.check-out {
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  display: flex;
  border-radius: 10px;
  padding-left: 28px;
}
.check-out-p {
  color: #ffffff;
  display: inline;
  font-size: 24px;
  font-weight: 800;
  line-height: 32px;
  width: 286px;
}
.cards {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 40px;
}
.mini-div {
  display: inline-block;
  background-color: #ffffff;
  border-radius: 10px;
}
.div-img {
  margin-top: 16px;
  position: absolute;
  margin-left: 28px;
  margin-bottom: 24px;
  transform: translate(8.16%, -75.51%);
}
.div-title {
  color: #13183f;
  font-size: 20px;
  font-weight: 800;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 56px;
  margin-left: 28px;
  display: block;
}
.div-p {
  color: #83869a;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  margin-left: 28px;
  margin-bottom: 0;
  margin-right: 29px;
}
.get-started-minidiv {
  color: #f74780;
  background-color: white;
  border: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 24px;
  margin-bottom: 32px;
  margin-left: 28px;
}
.final-div {
  display: flex;
  background-color: #13183f;
  margin-top: 80px;
  height: 120px;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
}
.final-title {
  color: #ffffff;
  font-size: 28px;
  font-weight: 800;
  line-height: 35px;
  letter-spacing: 0px;
  text-align: left;
  display: inline;
  vertical-align: middle;
}
.final-get-started {
  color: #ffffff;
  background: linear-gradient(180deg, #4851ff 0%, #f02aa6 100%);
  border: none;
  border-radius: 28px;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
  width: 140px;
  height: 48px;
}
